*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
}

header{
    width: 100%;
    height: 10vh;
    background-color: darkmagenta;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.main__tittle{
    font-size: 3rem;
    margin-left: 1rem;
    color: white;
    font-family:sans-serif;
}

.main__nav{
    width: auto;
    height: auto;
}

.nav__container{
    display: flex;
    list-style: none;
}

.nav__button{
    color:white;
    text-decoration: none;
    background-color: violet;
    padding: 0.8rem;
    border-radius: 0.5rem;
    border: white 1px solid;
    margin-left: 0.5rem;
}

.nav__button:hover{
    color:violet;
    text-decoration: none;
    background-color: white;
    
    border: white 1px solid;
}

/* Main */
.main__container{
    width: 100vw;
    min-height: 85vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.main__container div:nth-of-type(1){
    background-color: darkorange;
}

.main__container div:nth-of-type(2){
    background-color:deeppink;
}

.main__container div:nth-of-type(3){
    background-color:mediumspringgreen;
}

.main__container div:nth-of-type(4){
    background-color:yellowgreen;
}

.main__container div:nth-of-type(5){
    background-color:tomato;
}

.container__option{
    width: 200px;
    height: 120px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    margin-top: 2rem;
}

footer{
    width: 100vw;
    height: 5vh;
    background-color: #1A5C70;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(min-width:200px){
    header{
        background-color: darkmagenta;
        display: flex;
        flex-wrap: wrap;

        align-items: center;
        justify-content: center;
    }
    footer{
        margin-top: 2rem;
    }
}

@media(min-width:388px){
    header{
        background-color: darkmagenta;
        display: flex;
        flex-wrap: wrap;
        
        align-items: center;
        justify-content: space-between;
    }
    footer{
        margin-top: 0;
    }
}

@media(min-width: 800px){
    .container__option{
        width: 300px;
        height: 170px;
    }
}

